<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registry Tree</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
</head>
<body>
    <div id="navbar">
        <button id="New">New</button>
        <button id="Rename">Rename</button>
        <button id="Edit">Find</button>
        <button id="Delete">Delete</button>
    </div>
    <div id="last-key">Current key: None selected</div>
    <div id="mainscreen-container">
        <div id="registry-container">
            <ul id="registry-tree"></ul>
        </div>
        <div id="value-container">
            <table id="values-table" border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="overlay" id="overlay"></div>

    <div class="popup" id="options-popup">
        <button id="key-option">Key</button>
        <button id="value-option">Value</button>
    </div>

    <div class="popup" id="key-popup">
        <label for="path-input-key">Path:</label>
        <input type="text" id="path-input-key">
        <label for="name-input-key">Name:</label>
        <input type="text" id="name-input-key">
        <button id="save-btn-key">Save</button>
        <button id="cancel-btn-key">Cancel</button>
    </div>

    <div class="popup" id="value-popup">
        <label for="path-input-val">Path:</label>
        <input type="text" id="path-input-val">
        <label for="name-input-val">Name:</label>
        <input type="text" id="name-input-val">
        <label for="type-val">Type:</label>
        <select id="type-val">
            <option value="REG_SZ">REG_SZ</option>
            <option value="REG_DWORD">REG_DWORD</option>
            <option value="REG_MULTI_SZ">REG_MULTI_SZ</option>
            <option value="REG_BINARY">REG_BINARY</option>
        </select>
        <label for="content-val">Content:</label>
        <input type="text" id="content-val">
        <button id="save-btn-val">Save</button>
        <button id="cancel-btn-val">Cancel</button>
    </div>

    <div id="value-menu" class="popup">
        <button id="value-delete">Delete</button>
        <button id="value-rename">Rename</button>
        <button id="value-edit" style="display: none;">Edit</button>
    </div>

    <div id="rename-popup" class="popup">
        <label for="rename-value">New Value Name:</label>
        <input type="text" id="rename-value">
        <button id="rename-save-btn">Save</button>
        <button id="rename-cancel-btn">Cancel</button>
    </div>

    <div id="edit-popup" class="popup">
        <label for="edit-value">New Value Content:</label>
        <input type="text" id="edit-value">
        <button id="edit-save-btn">Save</button>
        <button id="edit-cancel-btn">Cancel</button>
    </div>

    <script>
        let last_key = null;
        let selected_val = null;


        <!--New Button-->
        document.getElementById('New').addEventListener('click', function () {

            document.getElementById('options-popup').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';

            const rect = document.getElementById('New').getBoundingClientRect();
            document.getElementById('options-popup').style.top = `${rect.bottom + window.scrollY}px`;
            document.getElementById('options-popup').style.left = `${rect.left + window.scrollX}px`;


        });

        <!--New Key Popup-->
        document.getElementById('key-option').addEventListener('click', function () {

            document.getElementById('options-popup').style.display = 'none';
            document.getElementById('key-popup').style.display = 'block';

            const rect = document.getElementById('New').getBoundingClientRect();
            document.getElementById('key-popup').style.top = `${rect.bottom + window.scrollY}px`;
            document.getElementById('key-popup').style.left = `${rect.left + window.scrollX}px`;

            if (last_key) {
                document.getElementById('path-input-key').value = last_key.dataset.path;
            }
        });

        <!-- Cancel New Key -->
        document.getElementById('cancel-btn-key').addEventListener('click', function () {
             document.getElementById('key-popup').style.display = 'none';
             document.getElementById('overlay').style.display = 'none';
        });

        <!-- Save New Key -->
        document.getElementById('save-btn-key').addEventListener('click', function () {

            const path = document.getElementById('path-input-key').value;
            const name = document.getElementById('name-input-key').value;

            createKey(name, path);

            document.getElementById('key-popup').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        });

        <!--New Value Popup-->
        document.getElementById('value-option').addEventListener('click', function () {

            document.getElementById('options-popup').style.display = 'none';
            document.getElementById('value-popup').style.display = 'block';

            const rect = document.getElementById('New').getBoundingClientRect();
            document.getElementById('value-popup').style.top = `${rect.bottom + window.scrollY}px`;
            document.getElementById('value-popup').style.left = `${rect.left + window.scrollX}px`;

            if (last_key) {
                document.getElementById('path-input-val').value = last_key.dataset.path;
            }
        });

        <!-- Cancel New Value -->
        document.getElementById('cancel-btn-val').addEventListener('click', function () {
             document.getElementById('value-popup').style.display = 'none';
             document.getElementById('overlay').style.display = 'none';
        });

        <!-- Save New Value -->
        document.getElementById('save-btn-val').addEventListener('click', function () {
            const path = document.getElementById('path-input-val').value;
            const name = document.getElementById('name-input-val').value;
            const type = document.getElementById('type-val').value;
            const content = document.getElementById('content-val').value;

            createValue(path, name, type, content);

            document.getElementById('value-popup').style.display = 'none';
            overlay.style.display = 'none';
        });

        overlay.addEventListener('click', function () {});

        <!--Value Menu Popup-->
        document.querySelector("#values-table tbody").addEventListener("contextmenu", function (event) {
            const clickedCell = event.target.closest("td");

            const row = clickedCell.parentElement;
            const typeCell = row.children[1];

            const isEditable = typeCell && typeCell.textContent === "REG_SZ";
            const editButton = document.getElementById('value-edit');

            if (isEditable) {
                editButton.style.display = "block";
            } else {
                editButton.style.display = "none";
            }

            if (clickedCell && clickedCell.cellIndex === 0) {
                event.preventDefault();

                selected_val = clickedCell.textContent;
                console.log(`Selected value: ${selected_val}`);


                document.getElementById('value-menu').style.display = "block";
                document.getElementById('value-menu').style.top = `${event.pageY}px`;
                document.getElementById('value-menu').style.left = `${event.pageX}px`;
            }
        });

        document.addEventListener("click", function (event) {
            if (!(document.getElementById('value-menu')).contains(event.target)) {
                document.getElementById('value-menu').style.display = "none";
            }
        });

        <!--Delete Value Button-->
        document.getElementById("value-delete").addEventListener("click", function () {
            if (selected_val) {
                deleteValue(selected_val, last_key.dataset.path);
                document.getElementById('value-menu').style.display = "none";
            }
        });

        <!--Rename Value Button-->
        document.getElementById("value-rename").addEventListener("click", function () {
            if (selected_val) {
                document.getElementById('rename-value').value = selected_val;
                document.getElementById("rename-popup").style.display = 'block';
                document.getElementById('overlay').style.display = 'block';
            }

            document.getElementById('value-menu').style.display = 'none';
        });

        <!--Rename Save Button-->
        document.getElementById("rename-save-btn").addEventListener("click", function () {
            new_name = document.getElementById('rename-value').value;
            if(new_name){
                renameValue(selected_val, last_key.dataset.path, new_name);
                document.getElementById('rename-popup').style.display = 'none';
                document.getElementById('overlay').style.display = 'none';
            }
            document.getElementById('value-menu').style.display = 'none';
        });

        <!--Edit Popup-->
        document.getElementById("value-edit").addEventListener("click", function () {
            document.getElementById("edit-popup").style.display = 'block';
            document.getElementById('overlay').style.display = 'block';

            document.getElementById('value-menu').style.display = 'none';
        });

        <!--Save Button Edit-->
        document.getElementById("edit-save-btn").addEventListener("click", function () {
            new_val = document.getElementById('edit-value').value;
            if(new_val){
                editValue(selected_val, last_key.dataset.path, new_val);
                document.getElementById('edit-popup').style.display = 'none';
                document.getElementById('overlay').style.display = 'none';
            }
            document.getElementById('value-menu').style.display = 'none';
        });

        <!-- Load Keys -->
        async function loadRegistry(path = null) {
            try {
                const url = path ? `/api/keys?path=${path}` : `/api/keys`;
                const response = await fetch(url);
                const data = await response.json();
                console.log(data);

                if (data.error) {
                    console.error("Error loading registry:", data.error);
                    return;
        }

                if (!path) {
                    const tree = document.getElementById('registry-tree');
                    for (const key in data) {
                        const li = document.createElement('li');
                        li.textContent = key;
                        li.dataset.path = key;
                        li.addEventListener('click', handleRegistryClick);
                        tree.appendChild(li);
                    }

                } else {

                const new_path = path.replace(/\\/g, '\\\\');
                const parentLi = document.querySelector(`li[data-path="${new_path}"]`);

                const selected_key = document.getElementById('last-key');
                selected_key.innerHTML = `Current key: ${parentLi.dataset.path}`;

                const ul = document.createElement('ul');

                const keys = Object.keys(data[path]);
                for (const subkey of keys) {
                        const li = document.createElement('li');
                        li.textContent = subkey;
                        li.dataset.path = `${path}\\${subkey}`;
                        li.addEventListener('click', handleRegistryClick);
                        ul.appendChild(li);

                    }

                    if(parentLi){
                         parentLi.appendChild(ul);
                    }


                }
            } catch (error) {
                console.error("Error loading registry:", error);
            }
        }

        <!-- Load Subkeys -->
        function handleRegistryClick(event) {
            event.stopPropagation();
            const path = this.dataset.path;
            last_key = this;
            const subkey_list = this.querySelector('ul');

            if (!subkey_list) {
                loadRegistry(path);
            }
            else{
                this.removeChild(subkey_list);
            }

            loadRegistryValues(path);
        }

        <!-- Load Values For Selected Key -->
        async function loadRegistryValues(path) {
        try {
            const response = await fetch(`/api/values?path=${path}`);
            const values = await response.json();

            const tableBody = document.querySelector("#values-table tbody");
            tableBody.innerHTML = "";

            if (values.error) {
                const row = document.createElement("tr");
                row.innerHTML = `<td colspan="3">${values.error}</td>`;
                tableBody.appendChild(row);
                return;
            }

                values.forEach(value => {
                const row = document.createElement("tr");

                row.innerHTML = `<td>${value.name}</td>
                                 <td>${mapValueType(value.type)}</td>
                                 <td>${value.value}</td>`;

                tableBody.appendChild(row);
            });
        } catch (error) {
            console.error("Error loading values:", error);
        }
    }

    function mapValueType(type) {
        const types = {1: "REG_SZ",
                        2: "REG_EXPAND_SZ",
                        3: "REG_BINARY",
                        4: "REG_DWORD",
                        5: "REG_DWORD_BIG_ENDIAN",
                        6: "REG_LINK",
                        7: "REG_MULTI_SZ",
                        8: "REG_RESOURCE_LIST",
                        9: "REG_FULL_RESOURCE_DESCRIPTOR",
                        10: "REG_RESOURCE_REQUIREMENTS_LIST",
                        11: "REG_QWORD"};

        return types[type] || "Unknown";
    }

    loadRegistry();


    async function createValue(path, name, type, content) {
        const endpoint = "/api/values";
        const data = { path: path,
                       name: name,
                       type: type,
                       content: content
                        };

        try {
            const response = await fetch(endpoint, { method: "POST",
                                headers: {  "Content-Type": "application/json"},
                                body: JSON.stringify(data)
                                });


            if (response.ok) {
                const result = await response.json();
                console.log(result.message);

             } else {
                const error = await response.json();
                console.error(error.error);
                alert("Error creating value: " + error.error);
            }
        } catch (err) {
             console.error("Network error:", err);
             alert("Failed connection to server");
    }
}
    async function deleteValue(name, key) {
        const endpoint = "/api/values";
        const data = { name: name,
                       key: key
                      };

       try {
            const response = await fetch(endpoint, { method: "DELETE",
                                headers: {  "Content-Type": "application/json"},
                                body: JSON.stringify(data)
                                });


            if (response.ok) {
                const result = await response.json();
                console.log(result.message);

             } else {
                const error = await response.json();
                console.error(error.error);
                alert("Error deleting value: " + error.error);
            }
        } catch (err) {
             console.error("Network error:", err);
             alert("Failed connection to server");
        }
    }
        async function renameValue(old_name, key, new_name) {
        const endpoint = "/api/values";
        const data = { old_name: old_name,
                       key: key,
                       new_name: new_name
                        };

        try {
            const response = await fetch(endpoint, { method: "PUT",
                                headers: {  "Content-Type": "application/json"},
                                body: JSON.stringify(data)
                                });


            if (response.ok) {
                const result = await response.json();
                console.log(result.message);

             } else {
                const error = await response.json();
                console.error(error.error);
                alert("Error renaming value: " + error.error);
            }
        } catch (err) {
             console.error("Network error:", err);
             alert("Failed connection to server");
    }
}


        async function editValue(val_name, key, new_data) {
        const endpoint = "/api/values/edit";
        const data = { val_name: val_name,
                       key: key,
                       new_data: new_data
                        };

        try {
            const response = await fetch(endpoint, { method: "PUT",
                                headers: {  "Content-Type": "application/json"},
                                body: JSON.stringify(data)
                                });


            if (response.ok) {
                const result = await response.json();
                console.log(result.message);

             } else {
                const error = await response.json();
                console.error(error.error);
                alert("Error editing value: " + error.error);
            }
        } catch (err) {
             console.error("Network error:", err);
             alert("Failed connection to server");
    }
}

        async function createKey(name, path) {
        const endpoint = "/api/keys";
        const data = { path: path,
                       name: name
                        };

        try {
            const response = await fetch(endpoint, { method: "POST",
                                headers: {  "Content-Type": "application/json"},
                                body: JSON.stringify(data)
                                });


            if (response.ok) {
                const result = await response.json();
                console.log(result.message);

             } else {
                const error = await response.json();
                console.error(error.error);
                alert("Error creating key: " + error.error);
            }
        } catch (err) {
             console.error("Network error:", err);
             alert("Failed connection to server");
    }
}



    </script>

</body>
</html>
