<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registry Tree</title>
<!--    <link rel="stylesheet" href="home.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
</head>
<body>
    <div id="mainscreen-container">
        <div id="registry-container">
            <ul id="registry-tree"></ul>
        </div>
        <div id="value-container">
            <table id="values-table" border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        async function loadRegistry(path = null) {
            try {
                const url = path ? `/api/keys?path=${path}` : `/api/keys`;
                const response = await fetch(url);
                const data = await response.json();
                console.log(data);

                if (data.error) {
                    console.error("Error loading registry:", data.error);
                    return;
        }

                if (!path) {
                    const tree = document.getElementById('registry-tree');
                    for (const key in data) {
                        const li = document.createElement('li');
                        li.textContent = key;
                        li.dataset.path = key;
                        li.addEventListener('click', handleRegistryClick);
                        tree.appendChild(li);
                    }

                } else {
                const new_path = path.replace(/\\/g, '\\\\');
                const parentLi = document.querySelector(`li[data-path="${new_path}"]`);

                const ul = document.createElement('ul');

                const keys = Object.keys(data[path]);
                for (const subkey of keys) {
                        const li = document.createElement('li');
                        li.textContent = subkey;
                        li.dataset.path = `${path}\\${subkey}`;
                        li.addEventListener('click', handleRegistryClick);
                        ul.appendChild(li);

                    }

                    if(parentLi){
                         parentLi.appendChild(ul);
                    }


                }
            } catch (error) {
                console.error("Error loading registry:", error);
            }
        }

        function handleRegistryClick(event) {
            event.stopPropagation();
            const path = this.dataset.path;
            const subkey_list = this.querySelector('ul');

            if (!subkey_list) {
                loadRegistry(path);
            }
            else{
                this.removeChild(subkey_list);
            }

            loadRegistryValues(path);
        }

        async function loadRegistryValues(path) {
        try {
            const response = await fetch(`/api/values?path=${path}`);
            const values = await response.json();

            const tableBody = document.querySelector("#values-table tbody");
            tableBody.innerHTML = "";

            if (values.error) {
                const row = document.createElement("tr");
                row.innerHTML = `<td colspan="3">${values.error}</td>`;
                tableBody.appendChild(row);
                return;
            }

                values.forEach(value => {
                const row = document.createElement("tr");

                row.innerHTML = `<td>${value.name}</td>
                                 <td>${mapValueType(value.type)}</td>
                                 <td>${value.value}</td>`;

                tableBody.appendChild(row);
            });
        } catch (error) {
            console.error("Error loading values:", error);
        }
    }

    function mapValueType(type) {
        const types = {1: "REG_SZ",
                        2: "REG_EXPAND_SZ",
                        3: "REG_BINARY",
                        4: "REG_DWORD",
                        5: "REG_DWORD_BIG_ENDIAN",
                        6: "REG_LINK",
                        7: "REG_MULTI_SZ",
                        8: "REG_RESOURCE_LIST",
                        9: "REG_FULL_RESOURCE_DESCRIPTOR",
                        10: "REG_RESOURCE_REQUIREMENTS_LIST",
                        11: "REG_QWORD"};

        return types[type] || "Unknown";
    }



        loadRegistry();

    </script>

</body>
</html>
