#mainscreen-container{
    display: flex;
    flex-direction: row;
}

#registry-container{
    width: 50%;
}

#value-container{
    width: 50%;
}

th{
    min-width: 4em;
}

.popup{
    display: none;
    position: absolute;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 1000;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
 }

.popup input{
    display: block;
    margin: 5px 0;
}

.popup button{
    margin-right: 5px;
}

#rename-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#edit-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}